NODE_ENV=development
MEDUSA_ADMIN_ONBOARDING_TYPE=nextjs
STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,http://localhost:8000,https://docs.medusajs.com
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
REDIS_URL=redis://redis:6379
MEDUSA_ADMIN_ONBOARDING_NEXTJS_DIRECTORY=medusa-ecom-storefront
DATABASE_URL=postgres://postgres@localhost/medusa-medusa-ecom

# For Docker Setup
DATABASE_URL=postgres://postgres:[YOUR PASSWORD]@postgres:5432/medusa-store

# For Supabase Setup
DATABASE_URL=postgresql://postgres:[YOUR PASSWORD]@db.xeorvgeatvvdjlyswgrk.supabase.co:5432/postgres
DATABSE_EXTRA={"ssl":{"rejectUnauthorized":false}}
