NODE_ENV=development

JWT_SECRET=supersecret
COOKIE_SECRET=supersecret

STORE_CORS=http://localhost:3000
ADMIN_CORS=http://localhost:9000
AUTH_CORS=http://localhost:9000,http://localhost:3000

DATABASE_URL=postgres://postgres:postgres@localhost:5432/medusa-store
REDIS_URL=redis://localhost:6379
MEDUSA_BACKEND_URL=http://localhost:9000

# Worker mode: "shared" (default, dev), "server" (prod API), "worker" (prod background jobs)
MEDUSA_WORKER_MODE=shared

# Set to "true" on the worker instance in production to disable the Admin UI
DISABLE_MEDUSA_ADMIN=false

MEDUSA_ADMIN_ONBOARDING_TYPE=nextjs
MEDUSA_ADMIN_ONBOARDING_NEXTJS_DIRECTORY=../web
